.App {
  text-align: center;
}

.titleText{
  margin-top: 100px;
  margin-bottom: 100px;
}

.logoName{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.synLogo {
  height: 40px;
  margin-right: 10px;
}

.aiName {
  font-size: 24px;
  font-weight: bold;
}


