.home{
    text-align: center;
    margin-top: 100px;
}

.logoName{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.textbox-link{
    padding: 8px;
    font-size: 13px;
    width: 300px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #ccc;
    margin-bottom: 30px;
  }

.titleName {
  padding:10px;
  font-weight: bold;
}

.dropdownTitle{
  padding:10px;
  margin-top: 60px;
  margin-bottom: 2px;
  font-weight: bold;
}

.dropdown-items{
    padding:35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 50px;
  }
  
  .submitBtn{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .submitBtn:hover{
    background-color: #0056b3;
    transition-delay: 30ms;
  }